@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 24% 8%;
    --card: 0 0% 100%;
    --card-foreground: 222 24% 8%;
    --primary: 200 100% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 95%;
    --secondary-foreground: 222 24% 8%;
    --muted: 210 20% 95%;
    --muted-foreground: 215 14% 46%;
    --accent: 210 20% 92%;
    --accent-foreground: 222 24% 8%;
    --destructive: 0 74% 42%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 20% 88%;
    --input: 214 20% 88%;
    --ring: 200 100% 41%;
    --radius: 0.5rem;
    --sidebar: 222 28% 12%;
  }

  .dark {
    --background: 222 24% 9%;
    --foreground: 208 28% 90%;
    --card: 220 24% 12%;
    --card-foreground: 208 28% 90%;
    --primary: 200 100% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 20% 17%;
    --secondary-foreground: 208 28% 90%;
    --muted: 220 20% 17%;
    --muted-foreground: 210 10% 56%;
    --accent: 220 20% 17%;
    --accent-foreground: 208 28% 90%;
    --destructive: 0 74% 42%;
    --destructive-foreground: 0 0% 100%;
    --border: 218 20% 18%;
    --input: 218 20% 18%;
    --ring: 200 100% 41%;
    --sidebar: 222 30% 7%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
